## Locale
d-i debian-installer/locale string en_US.UTF-8
d-i console-keymaps-at/keymap select us
d-i keyboard-configuration/xkb-keymap select us

## Timezone
d-i clock-setup/utc boolean true
d-i time/zone string Australia/Queensland

## Mirrors
d-i mirror/country string enter information manually
d-i mirror/http/hostname string http.kali.org
d-i mirror/http/directory string /kali
d-i mirror/http/proxy string
d-i mirror/suite string kali-rolling
d-i mirror/codename string kali-rolling

## Partition
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-auto/expert_recipe string                         \
      single-part ::                                          \
              5000 10000 -1 ext4                              \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .
d-i partman-auto/disk string /dev/sda
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman-basicfilesystems/no_swap boolean false

## User
# Prompt for user password
d-i passwd/make-user boolean true
d-i passwd/user-default-groups string sudo
d-i passwd/user-fullname string Hacker
d-i passwd/username string hacker
# Enable root account, but no password login
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password !!

## Apt
# Disable security, volatile and backports
d-i apt-setup/services-select multiselect 
# Enable contrib and non-free
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
# Disable source repositories too
d-i apt-setup/enable-source-repositories boolean false
# Disable CDROM entries after install
d-i apt-setup/disable-cdrom-entries boolean true
d-i apt-setup/use_mirror boolean true
# Install minimal required packages
d-i apt-setup/services-select multiselect
tasksel tasksel/first multiselect standard
d-i pkgsel/include string                                       \
    apparmor git kali-linux-core kali-desktop-core python3 ufw
# No need to upgrade packages
d-i pkgsel/upgrade select none

## Network
# Change default hostname
d-i netcfg/get_hostname string kali
d-i netcfg/get_domain string unassigned-domain
d-i netcfg/choose_interface select eth0
d-i netcfg/dhcp_timeout string 60

## Hardware
d-i hw-detect/load_firmware boolean false

## Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string /dev/sda

## Finished installation
d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean true

## Package options
# Disable popularity-contest
popularity-contest popularity-contest/participate boolean false

## Post-install
d-i preseed/late_command string                                 \
    in-target systemctl enable ufw.service;                     \
    in-target systemctl enable apparmor.service;                \
    in-target dd if=/dev/zero of=/swapfile bs=1M count=2048;    \
    in-target chmod 600 /swapfile;                              \
    in-target mkswap /swapfile;                                 \
    printf "/swapfile none swap sw 0 0\n" >> /target/etc/fstab; \
    printf "\nauto eth0\niface eth0 inet dhcp\n" >> /target/etc/network/interfaces
